.container8 {
    /* background: linear-gradient(54deg, #202137, #212236); */
    background-color: #202137;
    width: 100%;
    /* display: none; */
    /* height: 100vh; */
    /* padding: 2em 5em; */
}

.container9 {
    padding: 0 12em;
    padding-bottom: 1.8em;
    max-width: 1600px;
    margin: 0 auto;
}

.tabs {
    background-color: transparent;
    padding-bottom: 1em;
    transition: 0.5s;
}

.line {
    /* style={{ backgroundColor: "#0076A1", height: "10px" }} */
    background-color: #0076A1;
    height: 5px;
}

.fourButtons {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    margin-left: 18px;
    width: 45%;
    margin-top: 40px;
}

.btContainer {
    display: flex;
    justify-content: center;
}

.tabButton {

    background-color: #CE9134;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 20px;
    transition: 0.3s;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.tabButton:hover {
    opacity: 0.6;
}

@media only screen and (max-width: 1024px) {
    .container9 {
        padding: 0 2em;
    }
}

@media only screen and (max-width: 768px) {
    .container9 {
        padding: 0 2em;
    }

    .fourButtons {
        width: 60%;
    }
}

@media only screen and (max-width: 425px) {
    .container9 {
        padding: 0 2em;
    }

    .tabs {
        /* background-color: #0076A1; */
        /* padding: 0 1em; */
    }
}

@media only screen and (max-width: 320px) {
    .container9 {
        padding: 0 1em;
    }
}