.container {
    padding: 2em 0 3em 0;
    background: url(../../assets/hp-header.jpg);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.heading1 {
    font-size: 70px;
    font-weight: 800;
    color: #E9E4EB;

}

.heading2 {
    font-size: 30px;
    font-weight: 300;
    color: #E9E4EB;

}

.button1 {
    margin-top: 20px;
    background-color: #CE9134;
    border: none;
    font-weight: 600;
    padding: 1em 2em;
    border-radius: 10px;
}

@media only screen and (max-width: 425px) {
    .heading1 {
        font-size: 40px;
    }

    .heading2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .heading1 {
        font-size: 30px;
    }

    .heading2 {
        font-size: 15px;
    }
}