.container {
    padding: 6em 0 6em 0;
    background: url(../../images/hp-header.jpg);
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    /* align-items: center; */
    margin: 0 auto;
}

.fieldInput {
    width: 20%;
    /* border: 1px solid red; */
}



.Icons {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.icon:hover {
    transform: scale(1.2);
}

.DDown1>.goog-te-gadget {
    color: #2D183F;
}

@media only screen and (max-width:700px) {
    .container {
        flex-direction: column-reverse;
        padding: 3em 4em;
    }

    .fieldInput {
        margin: 0 auto;
        width: 70%;
    }

    .Icons {
        /* justify-content: center; */
        margin: 20px auto;
    }
}

@media only screen and (max-width:375px) {
    .fieldInput {
        margin: 0 auto;
        width: 80%;
    }
}

@media only screen and (max-width: 320px) {
    .fieldInput {
        width: 100%;
    }
}