.mainContainer6 {
    background-color: #3A3A3A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    cursor: pointer;
    transition: 0.3s;
    width: 25%;
    /* margin: 10px; */
}

.mainContainer6:hover {
    opacity: 0.6;
}

.buttonTitle {
    text-align: center;
    color: white;
    /* font-size: large; */
    font-family: 'Montserrat', sans-serif;
}



/* .buttonIcon{
    display: block;
} */

@media only screen and (max-width: 1024px) {
    .mainContainer6 {
        /* padding: 0 10em; */
    }
}

@media only screen and (max-width: 768px) {

    .mainContainer6 {
        padding: 10px 30px;
    }

    .buttonIcon {
        height: 20px;
        width: 20px;
    }

    .buttonTitle {
        font-size: 15px;
    }
}

@media only screen and (max-width: 425px) {

    .buttonTitle {
        display: none;
    }
}

@media only screen and (max-width: 375px) {

    .mainContainer6 {
        padding: 10px 20px;
    }



    .buttonTitle {
        font-size: 10px;
    }
}

@media only screen and (max-width: 320px) {

    .mainContainer6 {
        padding: 10px 20px;
    }


    .buttonTitle {
        font-size: 8px;
    }
}