.CardDescContainer {
    background-color: #1F2034;
    padding: 2em 3em;
}

.start {
    display: flex;
}

.end {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

@media only screen and (max-width: 768px) {
    .start {
        justify-content: center;
    }

    .end {
        justify-content: center;
    }
}