.GameContainer {
    border: 1px solid black;
    width: 20%;
    background-color: WHITE;
    /* height: 30%; */
}

.GameImage>img {
    width: 100%;
}

.GameHeading {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    padding: 6px 0;
    margin-left: 20px;
}

.GameTextContainer {
    padding: 0 1.5em;
}

.GameText {
    line-height: 25px;
    font-weight: 400;
}

.GameButton {
    width: 100%;
    font-size: 20px;
    background-color: #CE9134;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    /* bottom: 10; */
}

.GameButtonContainer {
    margin-top: 30px;
    /* position: relative;
    bottom: 0; */
}

@media only screen and (max-width: 1024px) {
    .GameContainer {
        width: 22%;
        height: 20%;
    }

    .GameText {
        font-size: 12px;
        line-height: 20px;
    }

    .GameHeading {
        font-size: 16px;
        font-weight: 700;
        margin-left: 15px;

    }

    .GameTextContainer {
        padding: 0 1em 1em 1em;
    }
}

@media only screen and (max-width: 768px) {
    .GameContainer {
        width: 40%;
    }

    .GameText {
        font-size: 15px;
        line-height: 22px;
    }
}

@media only screen and (max-width: 425px) {
    .GameContainer {
        width: 90%;
    }

    .GameText {
        font-size: 16px;
        line-height: 22px;
    }
}

/* @media only screen and (max-width: 768px) {
    .GameContainer {
        width: 30%;
    } */
/* } */