.BannerMainContainer {
    background-color: #2A2D5B;
    max-width: 1600px;
    margin: 0 auto;
    border-radius: 10px;
    /* width: 100%; */
}

.BannerMainContainer {
    max-width: 100% !important;
    border-radius: 0;
}

.BannerMainContainer2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4em 5em;
}

.BannerText {
    font-size: 20px;
    line-height: 30px;
    padding: 0 4em 0 0;
    font-weight: 100;
    font-weight: 500;
    color: #EDEADE;
    font-family: 'Montserrat', sans-serif;
}

.mainBannerImage {
    height: 252px;
    width: 468px;
}

@media only screen and (max-width: 1024px) {
    .BannerText {
        font-size: 13px;
        padding: 0 8em 0 0;
        line-height: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .BannerText {
        font-size: 10px;
        padding: 0 3em 0 0;
    }

    .BannerMainContainer2 {
        padding: 3em 3em;
    }

    .mainBannerImage {
        object-fit: contain;
        height: 200px;
        width: 200px;
    }
}

@media only screen and (max-width: 425px) {
    .BannerMainContainer2 {
        flex-direction: column;
        align-items: center;
        padding: 2em 3em;
    }

    .BannerText {
        display: flex;
        justify-content: center;
        /* font-size: 20px; */
        padding: 0;
        font-size: 12px;
        line-height: 22px;

    }

    .BannerImage {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .mainBannerImage {
        height: 120px;
        width: 250px;
    }
}

/* @media only screen and (max-width: 425px) {
    .BannerText {
        font-size: 12px;
        line-height: 22px;
    }
} */

@media only screen and (max-width: 375px) {
    .BannerText {
        font-size: 12px;
        line-height: 20px;
    }

    .BannerMainContainer2 {
        padding: 2em 1em;
    }
}

@media only screen and (max-width: 320px) {
    .BannerText {
        font-size: 12px;
        line-height: 20px;
    }

    .mainBannerImage {
        height: 100px;
        width: 200px;
    }
}